<div class="text-center">
    <h1>Добро пожаловать пользователь</h1>
    </div>
<form method="post">

    <p>
        <label>Username:</label><br />
        <input type="text" name="username" />
    </p>
    <p>
        <label>Password:</label><br />
        <input type="password" name="password" />
    </p>
    
    <p>

        <input type="submit" value="Submit" />
    </p>



</form>
